* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(255,255,255, 0.1);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 5px;
    padding: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
    border-radius: 10px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: inherit;
}

#workspaces button.focused, #workspaces button.active {
	border-radius: 10px;
   	background-color: #5C6F5C;
	transition: all 0.3s ease;
}

#workspaces button:hover {
	background-color: #8ead8e;
	color: rgba(42,45,42,1);
	text-shadow: inherit;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #000000;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#mpris,
#window {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    color: #a1b5a1;
    border-radius: 5px;

    border: 2px solid rgba(72,81,72,1);

    transition: background-color 0.75s, color 0.25s
}

#pulseaudio.muted,
#network.disconnected,
#mpris.paused {
	color: #5b665b;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#mpris:hover,
#power-profiles-daemon:hover {
	background-color: #8ead8e;
	color: rgba(42,45,42,1);
}

#workspaces {
	color: #a1b5a1;
	border: 2px solid rgba(72,81,72,1);
	border-radius: 5px;
}

#workspaces button {
	margin-right: 2px;
	margin-left: 2px;
}
#workspaces:first-child {
	margin-left: 0px;
	padding-left: 0px;
}
#workspaces:last-child {
	margin-right: 0px;
	padding-right: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

.modules-right {
	margin: 2px;
	background-color: rgba(42,45,42,1);
	border-radius: 5px;
}
.modules-left {
	margin: 2px;
	background-color: rgba(42,45,42,1);
	border-radius: 5px;
}
.modules-center {
	margin: 2px;
	padding: 2px;
	background-color: rgba(42,45,42,1);
	border-radius: 5px;
}
#network,
#tray {
	margin-right: 2px;
}

#pulseaudio,
#power-profiles-daemon {
	margin-left: 2px;
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#tray {
	border-radius: 5px;
	border: 2px solid rgba(72,81,72, 1);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
